A:link {
	COLOR: #017489; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A:visited {
	COLOR: #017489; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A:active {
	COLOR: #666666; FONT-FAMILY: verdana; TEXT-DECORATION: none
}
A:hover {
	COLOR: #FDA027; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 10pt;  FONT-FAMILY: verdana
}
TR {
	FONT-SIZE: 10pt;  FONT-FAMILY: verdana
}
TD {
	FONT-SIZE: 10pt;  FONT-FAMILY: verdana
}
FONT {
	FONT-SIZE: 10pt;  FONT-FAMILY: verdana
}
INPUT {
	FONT-SIZE: 10pt;  PADDING-TOP: 3px; BACKGROUND-COLOR: #F5F5F5
}
.text {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
	height: 20px;
	border: none;
	color: #993300;
	font-style: normal;
	background-color: #FFFFFF;

}
.SubmitButtom {
	font-family: "宋体";
	font-size: 12px;
	background-image: url(../images/pic15_1.gif);
	color: #636363;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
A.Bottom:link { COLOR: #333333; FONT-FAMILY: verdana; TEXT-DECORATION: none }
A.Bottom:visited { COLOR: #333333; FONT-FAMILY: verdana; TEXT-DECORATION: none }
A.Bottom:active {
	COLOR: #333333;
	FONT-FAMILY: "宋体";
	TEXT-DECORATION: none;
	background-color: #009999;
}
A.Bottom:hover { COLOR: #000000; FONT-FAMILY: verdana; TEXT-DECORATION: underline }

A.ktang:link { COLOR: #747D86; FONT-FAMILY: verdana; TEXT-DECORATION: none }
A.ktang:visited { COLOR: #747D86; FONT-FAMILY: verdana; TEXT-DECORATION: none }
A.ktang:active {	COLOR: #747D86; FONT-FAMILY: verdana; TEXT-DECORATION: none }
A.ktang:hover { COLOR: #007A99; FONT-FAMILY: verdana; TEXT-DECORATION: underline }

A.menulink:link { COLOR: #333333; FONT-FAMILY: verdana; TEXT-DECORATION: none }
A.menulink:visited { COLOR: #333333; FONT-FAMILY: verdana; TEXT-DECORATION: none }
A.menulink:active { COLOR: #333333; FONT-FAMILY: verdana; TEXT-DECORATION: none }
A.menulink:hover { COLOR: #FB0202; FONT-FAMILY: verdana; TEXT-DECORATION: underline }


A.BigClassName:link { COLOR: #FF3300; FONT-FAMILY: 宋体; font-weight: bold;TEXT-DECORATION: none }
A.BigClassName:visited { COLOR: #FF3300; FONT-FAMILY: 宋体; font-weight: bold; TEXT-DECORATION: none }
A.BigClassName:active {	COLOR: #FF3300; FONT-FAMILY: 宋体; font-weight: bold; TEXT-DECORATION: none }
A.BigClassName:hover { COLOR: #993300; FONT-FAMILY: 宋体; font-weight: bold; TEXT-DECORATION: underline }

A.SmallClassName:link { COLOR: #138DEC; FONT-FAMILY: 宋体; font-weight: bold;TEXT-DECORATION: none }
A.SmallClassName:visited { COLOR: #138DEC; FONT-FAMILY: 宋体; font-weight: bold; TEXT-DECORATION: none }
A.SmallClassName:active {	COLOR: #138DEC; FONT-FAMILY: 宋体; font-weight: bold; TEXT-DECORATION: none }
A.SmallClassName:hover { COLOR: #F79700; FONT-FAMILY: 宋体; font-weight: bold; TEXT-DECORATION: underline }
.member {
	font-family: "宋体";
	border: none;
	background-color: #DBDBDB;

}
.FirstBottom {
	font-family: "宋体";
	background-color: #FFFFFF;
	color: C9242B;

}
.Login {
	font-family: "宋体";
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.memberlogin {
	font-family: "宋体";
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
}
.LiuYanSubmit {
	font-family: "宋体";
	background-color: #FFFFFF;
	height: 20px;
	width: auto;
	border: 1px solid #0099CC;
}
.textclass {
	font-family: "宋体";
	border: 1px dashed #C1C1C1;
	color: #993300;
}
.stylego {
	font-family: "宋体";
	color: #993300;
	border: 1px dashed #CCCCCC;
	height: 16px;
	vertical-align: middle;
}
.SearchBottom {
	background-image: url(../Product/images/pd_pic5.gif);
	height: 43px;
	width: 43px;
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.BbsTatle {
	font-family: "宋体";
	color: #FFFFFF;
	border: 1px dashed #CC6600;
	background-color: #CC6600;
}
.CountLogin_buttom {
	font-family: "宋体";
	color: #996600;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.question {
	font-family: "宋体";
	color: #808A94;
	background-color: EBEDEC;
	border: 1px solid CDD2D5;
}
.addpic {
	font-family: "宋体";
	border: 1px none #996600;
	background-color: #99CCCC;
	height: 20px;
	color: #993300;
}
.AddPicFileBotton {
	font-family: "宋体";
	color: #993300;
	border: 1px solid #996600;
	font-size: 12px;
}
.Countlogin_text {
	font-family: "宋体";
	border: thin none #999900;
	background-color: #999966;
	color: #FFFFFF;
	padding: 2px;
}
.CountLogin_lablename {
	font-family: "宋体";
	color: #993300;
}
.CountLogin_c {
	font-family: Arial, Helvetica, sans-serif;
	color: #990000;
	background-color: #99CCFF;
}
.CountTableStyle1 {
	border: 1px solid #99CC99;
}
.CountRegText {
	font-family: "宋体", "新宋体";
	background-color: #FFFFFF;
	height: 20px;
	color: #333333;
	padding: 2px;
	border: 1px solid #EFEFEF;
}
.Column1 {
	background-color: #B0B0FF;
	width: 18px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	text-align:center;
	overflow:hidden;
	cursor:default;
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorStr=#D6EBFF,endColorStr=#63AADE,GradientType=0);*/
	/*behavior:url(../Style/Column.htc);*/
}
.TimeColumn { height:150px;text-align:center;vertical-align:bottom;}
.TimeWord { height:150px;text-align:left;writing-mode:tb-rl;font-size:8pt;text-overflow:ellipsis;overflow:hidden; }

.styTdBGLine {
	background-color: #FFFFFF;
	background-image: url(file:///D|/%E7%BD%91%E7%AB%99/%E5%88%B6%E4%BD%9C%E4%B8%AD%E7%BD%91%E7%AB%99/myself/images/Line1.GIF);
	background-repeat: repeat-x;
	background-position: bottom;
}