

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../css/css.css" rel="stylesheet" type="text/css">
<title>联系信息</title>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="center"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr bgcolor="#999999"> 
      <td height="1" valign="top"></td>
    </tr>
    <tr bgcolor="#E4E4E4"> 
      <td height="230" valign="top">
          <table width="770" border="0" cellspacing="1" cellpadding="0">
            <tr> 
              <td width="133" height="21" bgcolor="#A24E12">&nbsp;<font color="#FFFFFF">联系信息</font></td>
                <td width="514" bgcolor="#FFFFFF"> <div align="right"> </div></td>
                <td width="89" bgcolor="#FFFFFF"><div align="center"><a href="contact_add.html?class_id=<%= class_id %>">添加信息</a></div></td>
            </tr>
          </table>
          <table width="770" border="0" cellpadding="0" cellspacing="1">
            <tr> 
              <td height="15" colspan="12"><div align="right"></div></td>
            </tr>
            <tr> 
              <td width="51" height="24" bgcolor="#999999">&nbsp;<font color="#FFFFFF" size="2">序号</font></td>
              <td width="70" bgcolor="#999999"><font color="#FFFFFF" size="2">&nbsp;所在地</font></td>
              <td width="286" bgcolor="#999999"><font color="#FFFFFF" size="2">&nbsp;地址</font></td>
              <td width="173" bgcolor="#999999"><font color="#FFFFFF" size="2">&nbsp;联系电话</font></td>
              <td width="61" bgcolor="#999999"><div align="center"><font color="#FFFFFF" size="2">排序</font></div></td>
              <td width="61" bgcolor="#999999"><div align="center"><font color="#FFFFFF" size="2"></font><font color="#FFFFFF">显示状态</font></div></td>
              <td width="29" bgcolor="#999999"><div align="center"><font color="#FFFFFF">修改</font></div></td>
              <td width="30" bgcolor="#999999"><div align="center"><font color="#FFFFFF">删除</font></div></td>
            </tr>

            <tr> 
              <td valign="top" bgcolor="F1F0F1"><font size="2">&nbsp;<font color="#993300">1、</font></font></td>
              <td height="18" bgcolor="F1F0F1">&nbsp;<a href="contact_detail.html">北京</a></td>
              <td height="18" bgcolor="F1F0F1">&nbsp;<a href="contact_detail.html">朝阳区霄云路26号</a></td>
              <td bgcolor="F1F0F1">&nbsp;010-12345678</td>
              <td bgcolor="F1F0F1"><div align="center"><font color="#333333">0</font></div></td>
              <td align="center" bgcolor="#E1DFE1"><font >显示</font></td>
              <td bgcolor="F1F0F1"> <div align="center"><a href="contact_modi.html"><font size="2">修改</font></a></div></td>
              <td bgcolor="F1F0F1"> <div align="center"><a href="contact_del.html"> 
                  删除</a></div></td>
            </tr>
            <tr> 
              <td height="1" colspan="12" bgcolor="#999999"></td>
            </tr>
             <tr> 
              <td valign="top" bgcolor="F1F0F1"><font size="2">&nbsp;<font color="#993300">2、</font></font></td>
              <td height="18" bgcolor="F1F0F1">&nbsp;<a href="contact_detail.html">上海</a></td>
              <td height="18" bgcolor="F1F0F1">&nbsp;<a href="contact_detail.html">长宁区8弄26号5楼2层2012室</a></td>
              <td bgcolor="F1F0F1">&nbsp;010-12345678</td>
              <td bgcolor="F1F0F1"><div align="center"><font color="#333333">0</font></div></td>
              <td align="center" bgcolor="#E1DFE1"><font color="#FF0000">不显示</font></td>
              <td bgcolor="F1F0F1"> <div align="center"><a href="contact_modi.html"><font size="2">修改</font></a></div></td>
              <td bgcolor="F1F0F1"> <div align="center"><a href="contact_del.html"> 
                  删除</a></div></td>
            </tr>
            <tr> 
              <td height="1" colspan="12" bgcolor="#999999"></td>
            </tr>           
            <tr> 
              <td valign="top" bgcolor="F1F0F1"><font size="2">3<font color="#993300">、</font></font></td>
              <td height="18" bgcolor="F1F0F1">&nbsp;<a href="contact_detail.html">深圳</a></td>
              <td height="18" bgcolor="F1F0F1">&nbsp;<a href="contact_detail.html">福田区</a></td>
              <td bgcolor="F1F0F1">&nbsp;010-12345678</td>
              <td bgcolor="F1F0F1"><div align="center"><font color="#333333">0</font></div></td>
              <td align="center" bgcolor="#E1DFE1"><font >显示</font></td>
              <td bgcolor="F1F0F1"> <div align="center"><a href="contact_modi.html"><font size="2">修改</font></a></div></td>
              <td bgcolor="F1F0F1"> <div align="center"><a href="contact_del.html"> 删除</a></div></td>
            </tr>
            <tr> 
              <td height="1" colspan="12" bgcolor="#999999"></td>
            </tr>            
            <tr> 
              <td height="21" colspan="12" align="right" valign="top"><font color="#333333" size="2">换页 <a href="#">&lt;&lt;</a></font>&nbsp;<font color="#333333" size="2"><a href="#">首页</a></font> &nbsp;&nbsp; <a href="#">1</a>、<strong><a href="#">2</a></strong>、<a href="#">3</a>、<a href="#">4</a> &nbsp;&nbsp;<font color="#333333"><a href="#">尾页</a> <a href="#">&gt;&gt;</a></font></td>
            </tr>
          </table></td>
    </tr>
  </table>
</div>
</body>
</html>

 